* {
  margin: 0px;
  padding: 0px;
}

body {
  overflow: hidden;
  background-image: url("../assets/1.jpg");
  background-size: 100%;
  background-position-y: -140px;
}

header {
  height: 80px;
  width: 99vw;
}
header nav {
  width: 100%;
}
header nav ul {
  width: 100%;
  list-style: none;
  overflow: hidden;
}
header nav ul li {
  float: left;
  display: block;
  padding: 10px;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: white;
}
header nav ul li .logo {
  margin-left: 50px;
  padding: 10px 10px 0px 10px;
}
header nav ul li .logo img {
  width: 60px;
  height: 60px;
}
header nav ul li .menu-op {
  position: relative;
  margin: 10px 15px 15px 15px;
  width: 100%;
  height: 30px;
  right: -600px;
  padding-top: 10px;
  text-align: center;
  border-radius: 10px;
}
header nav ul .boton {
  width: 100%;
  height: 40px;
  position: relative;
  margin-top: 10px;
  right: -600px;
  border-radius: 10px;
  padding: 0px 40px 0px 40px;
}
header nav ul .boton button {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-weight: bold;
  border: 0px;
  background: #E40C34;
  color: white;
  font-family: "Raleway", sans-serif;
}

header ul li button:hover {
  background: #fb4b4e;
  cursor: hand;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
header ul li .menu-op:hover {
  background: white;
  color: #E40C34;
  cursor: hand;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.cuerpo {
  position: relative;
  margin-left: 75px;
  width: 30%;
  top: 150px;
  font-family: "Urbanist", sans-serif;
  color: white;
}
.cuerpo .titulo {
  font-weight: bold;
  font-size: 20px;
}
.cuerpo .con {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: normal;
  font-size: 16px;
}
.cuerpo .boton {
  width: 50%;
  height: 60px;
  border-radius: 10px;
  margin-top: 40px;
}
.cuerpo .boton button {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-weight: bold;
  border: 0px;
  background: #E40C34;
  color: white;
  font-weight: bold;
  font-size: 18px;
  font-family: "Urbanist", sans-serif;
}

.cuerpo button:hover {
  background: #fb4b4e;
  cursor: hand;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

footer {
  width: 45%;
  height: 300px;
  position: relative;
  left: 800px;
  top: 100px;
  display: flex;
  flex-grow: column;
  justify-content: center;
}
footer .imagen {
  margin-top: 50px;
}
footer .imagen img {
  width: 330px;
  height: 180px;
  border: solid #E40C34;
  border-radius: 10px;
}
footer .imagen .blanco {
  width: 330px;
  height: 180px;
  position: absolute;
  top: 53px;
  left: 3.5px;
  border-radius: 8px;
}
footer .imagenD {
  margin-top: 50px;
  margin-left: 20px;
}
footer .imagenD img {
  width: 330px;
  height: 180px;
  border: solid #E40C34;
  border-radius: 10px;
}
footer .imagenD .blanco {
  width: 330px;
  height: 180px;
  position: absolute;
  top: 53px;
  left: 358px;
  border-radius: 8px;
}

footer .imagen .blanco:hover {
  filter: opacity(0.5);
  cursor: hand;
  cursor: pointer;
  transition: all 0.5s ease-out;
  background-color: white;
}
footer .imagenD .blanco:hover {
  filter: opacity(0.5);
  cursor: hand;
  cursor: pointer;
  transition: all 0.5s ease-out;
  background-color: white;
}

/*# sourceMappingURL=style.css.map */
